{{> base}}

{{#block "header"}}
<link rel="stylesheet" type="text/css" href="https://cdn.bmf.kr/web/css/swiper/3.2.7/swiper.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.bmf.kr/static/css/app.v-bdf170c3.css">
{{/block}}

{{#block "contents"}}
        <!--  skip navi -->
        <a href="#container" id="skip_navigation">본문 바로가기</a>
        <!--  skip navi -->

        <div id="wrapper">

            <!--  상단 배너 -->
            <div id="tbb" class="top_banner_wrap" style="display: none;">
                <a href="#" class="top_banner">페이지 상단 배너</a>
                <a href="#" class="btn_close" title="닫기">닫기</a>
            </div>
            <!-- //End 상단 배너 -->
            <!--  헤더영역 -->
            <div id="container">
                <div class="wrap">

                    <div id="app" class="content">
                        {{#product}}
                        <div class="product_detail_top clearfix">
                            <div class="detail_top_image">
                                <div class="image_top">
                                    <img src="{{imgUrl}}" alt=""
                                        class="top_detail_image">
                                    <i class="brd_box"></i>
                                    <div class="thumb_badge">
                                        <span class="num">10</span>
                                        <span class="unit">%</span>
                                    </div>
                                </div>
                                <div class="image_thumb">
                                    <a href="#" class="top_thumb">
                                        <img src="https://cdn.bmf.kr/_data/product/IBF03/f40ebe5e7f49b2b7c0bb421b9153bc55.jpg"
                                            alt="">
                                        <i class="brd_box"></i>
                                    </a>
                                    <a href="#" class="top_thumb">
                                        <img src="https://cdn.bmf.kr/_data/product/IBF03/04c59843740abbda17b3a9be6f7d2f71.jpg"
                                            alt="">
                                        <i class="brd_box"></i>
                                    </a>
                                    <a href="#" class="top_thumb">
                                        <img src="https://cdn.bmf.kr/_data/product/IBF03/3528c28b50d634359531b82beaaa19c2.jpg"
                                            alt="">
                                        <i class="brd_box"></i>
                                    </a>
                                    <a href="#" class="top_thumb">
                                        <img src="https://cdn.bmf.kr/_data/product/IBF03/c0a9fa336d57c7f57365360ea8d852e8.jpg"
                                            alt="">
                                        <i class="brd_box"></i>
                                    </a>
                                    <span class="top_thumb"></span>
                                </div>
                            </div>
                            <div class="detail_top_desc">
                                <h1 class="desc_product_name">{{title}}</h1>
                                <p class="desc_bt_txt">{{description}}</p>
                                <dl class="desc_info">
                                    <dt>적립금</dt>
                                    <dd>54원</dd>
                                    <dt>배송타입</dt>
                                    <dd>
                                        새벽배송 (서울, 경기 일부)
                                        <br>전국택배 (제주/도서산간 제외)
                                    </dd>
                                    <dt>수령요일</dt>
                                    <dd>
                                        <strong>월, 화, 수, 목, 금, 토요일</strong> 수령 가능 (택배는 월요일 제외)
                                    </dd>
                                    <dt class="blind">가격</dt>
                                    <dd class="desc_price">
                                        <del class="origin-price">{{price}}원</del>
                                        <strong class="sale-price">5,400
                                            <span class="unit">원</span>
                                        </strong>
                                    </dd>
                                </dl>
                                <div class="desc_option_calc clearfix">
                                    <form onsubmit="return false;">
                                        <fieldset>
                                            <legend class="blind">옵션별 상품 금액 계산</legend>
                                            <div class="option_only_quantity">
                                                <dl class="clearfix">
                                                    <dt>수량</dt>
                                                    <dd>
                                                        <div class="prd_account fRight">
                                                            <label>
                                                                <input type="text" name="amount" value="1" class="buy_cnt">
                                                            </label>
                                                            <span>
                                                                <a href="#" title="수량 더하기" class="up">수량 더하기</a>
                                                                <a href="#" title="수량 빼기" class="down">수량 빼기</a>
                                                            </span>
                                                        </div>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <p class="calculated_price">
                                                <span class="price_label">총 상품금액</span>
                                                <strong id="detail_total_price" class="price_number">5,400</strong>
                                                <span class="unit">원</span>
                                            </p>
                                            <button type="button" class="btn btn_mint btn_into_basket purchageable">담기</button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {{/product}}
                    </div>
                    <div class="put_in_basket sticky_box">
                        <h3>
                            <span class="">장바구니</span>
                        </h3>
                        <div class="empty">
                            <p class="top_box_number">
                                <span class="txt" style="display:;" id="cart_display_none">담은상품이
                                    <br>없습니다.</span>
                                <strong class="number" id="cart_display_exist" style="display:none">
                                    <span id="basket-counter" class="number_txt">0</span>
                                    <span class="unit">개</span>
                                </strong>
                            </p>
                            <a href="/shop/cart_sub.php" id="go_to_cart" class="go_to_basket">장바구니 이동
                                <span>&gt;</span>
                            </a>
                        </div>
                        <div id="basket-toaster" class="tooltip" style="display: none;">
                            <i class="tooltip_arr"></i>
                            <span class="prd_name">상품</span>
                            담기완료
                        </div>
                    </div>
                </div>
            </div>

            <div id="skeletons" style="display: none;">
                <div class="item">
                    <div class="item_left">
                        <span class="option_name">[키친르쎌] 부추무침 150g</span>
                    </div>
                    <div class="prd_account">
                        <label>
                            <input class="buy_cnt" type="text" name="amount" value="1">
                        </label>
                        <span>
                            <a href="#" title="수량 더하기" class="up">수량 더하기</a>
                            <a href="#" title="수량 빼기" class="down">수량 빼기</a>
                        </span>
                    </div>
                    <div class="item_right">
                        <strong class="option_price">0</strong>
                        <span class="option_price_unit">원</span>
                    </div>
                    <button type="button" class="btn_option_delete">옵션 삭제하기</button>
                </div>
            </div>
        </div>
{{/block}}